{% extends 'base.html'%}
{% block title%}index{%endblock%}

{%block content%}

	<div class="container">
		{% load markup %}
		<div class="row-fluid">
			<div class="span4">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li><a href="/blog/{{user.id}}/">我发起的活动</a></li>
						<li><a href="">我的小组话题</a></li>
						<li><a href="">我回应的活动</a></li>
						<li><a href="/create_group/">申请小组</a></li>
					</ul>
				</div>
				<div class="row-fluid">
					<div class="well sidebar-nav">
						<h3>热门小组</h3>
					<ul class="nav nav-list">
						{% for group in groups %}
						<li><a href="/group/{{group.id}}/">{{group.groupname}}</a></li>
						{% endfor %}
						
					</div>
				</div>
				<div class="row-fluid">
					<div class="well sidebar-nav">
						<h3>热门话题</h3>
						<ul>
						{% for i in article_list %}
							<li><a href="/people_index/{{i.author.id}}">{{i.title}}</a></li>
						{% endfor %}
						</ul>
					</div>
				</div>			
			</div>
			<div class="span8">
                <div class="well sidebar-nav">
                        <h3>推荐de小站</h3>
                </div>
                        {%for groups in group_list%}
                            <div class="span12" style="margin-left:0px;">
                                {%for group in groups%}
                                <div class="span6">
                                <div class="well sidebar-nav">
                                <div class="container-fluid">
                                    {%if group in attentioned_list%}
                                    <div class="span4"><img src="/static/{{group.groupimg}}"alt="img" style="left;width:70px;height:70px;"align="left"></div><div class="span8" style="text-overflow:ellipsis;white-space:nowrap;overflow:hidden;"><a href="/group/{{group.id}}">{{group.groupname}}</a><br/>{{group.description}}<br/><a class="btn disabled">已关注</a></div>
                                    {%else%}
                                    <div class="span4"><img src="/static/{{group.groupimg}}"alt="img" style="left;width:70px;height:70px;"align="left"></div><div class="span8" style="text-overflow:ellipsis;white-space:nowrap;overflow:hidden;"><a href="/group/{{group.id}}">{{group.groupname}}</a><br/>{{group.description}}<br/><a class="btn btn-success"href="/add_group/{{group.id}}">关注</a></div>
                                    {%endif%}
                                </div>
                                </div>
                                </div>
                                {%endfor%}
                            </div>
                        {%endfor%}
			</div>
		</div>
	</div>
{%endblock%}
