{% extends 'base.html' %}
{% block title %} {% endblock %}

{% block content %}


<div class="container">
	{% load markup %}
	<div class="row-fluid">
		<div class="span4">
			<div class="well sidebar-nav">
				 
		      <div>
		      	<img src="/static/{{article.author.prouser.headimg}}" width="80px" height="80px" alt="">
		      	<li>组长:<a href="/blog/{{article.author.id}}/">{{article.author.username}}</a></li>
		      </div>
		    </div>

		      <div class="row-fluid">
		    	<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li><a href="/article/{{article.group.id}}/">发起小组话题</a></li>
						<li><a href="/blog/{{user.id}}/">我的小组话题</a></li>
						<li><a href="">回应小组话题</a></li>
					</ul>
		    	</div>
		    </div>
		</div>
		<div class="span8">
			<div class="well sidebar-nav codehilite">
				<h3>{{article.title}}</h3>
				<p>发表时间 : {{article.create_time|date:"m/d/Y"}}</p>
				&nbsp;&nbsp;&nbsp;{{article.content}}
			</div>
			<div class="row-fluid">
				<div class="well sidebar-nav">
					<h3>Reply</h3>
				{% for reply in article.reply_set.all %}
					<div class="control-group codehilite">
						<span><img src="/static/{{reply.user.prouser.headimg}}" height='40px' width='40px' alt="">
							<a href="/blog/{{reply.user.id}}/">来自:{{reply.user.username}}</a></span>
						<p>{{reply.create_time|date:"m/d/Y"}}</p>
		               	<div class="controls">
		               		{{reply.content}}
		               	</div>
                        <hr/>
	                </div>
                        <button type='button'class="btn btn-btn-danger" data-toggle="collapse"data-target="#demo{{reply.id}}">卷起</button>
                        <div id="demo{{reply.id}}"class="collapse in"><hr/>
                        {%for rreplay in reply.rreplay_set.all%}
                            <div><img src="/static/{{rreplay.user.prouser.headimg}}"width='30px;'>say:&nbsp;{{rreplay.content}}<hr/>
                            </div>
                        {%endfor%}
				        <form action="/r_replay/{{reply.id}}/" method="post">{% csrf_token %}
				        <div class="control-group">
                        <textarea type="" name="content" style="margin: 0px; width: 565px; height: 36px;"></textarea>
                        </div>
	                    <div class="control-group">
	               	    <div class="controls">
	            		<button type="submit" class="btn btn-success">提交</button>
	          		</div>
	          	</div>
				</form></div>
				{% endfor %}
				</div>
			</div>
			{% if user %}
			<div class="well sidebar-nav">
				<form action="/topic/{{article.id}}/" method="post">
					{% csrf_token %}
				 <div class="control-group">
                  <textarea type="" name="content" style="margin: 0px; width: 565px; height: 36px;"></textarea>
              </div>
	            <div class="control-group">
	               	<div class="controls">
	            		<button type="submit" class="btn btn-success">提交</button>
	          		</div>
	          	</div>
				</form>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
